<main>
  <section class="page">
    <div class="centered-box">
      <%= form_for @cat do |f| %>
        <h1><%= mytitle %></h1>
          <label for="name">Name</label>
          <%= f.text_field :name%>
          <br>
          <label for="birth_date">Birth Date</label>
          <%= f.date_field :birth_date%>
          <br>
          <label for="color">Color</label>
          <select id="color" name="cat[color]">
              <option disable selected>-- Please Select --</option>
              <% Cat::CAT_COLOR.each do |color|%>
                <option
                  <%= @cat.color == color ? "selected" : "" %>
                  value="<%= color %>">
                  <%= color.upcase %>
                </option>
              <% end %>
          </select>
          <br>
          <label for="sex">Sex</label>
          <%= f.radio_button :sex, 'M'%>M
          <%= f.radio_button :sex, 'F'%>F
          <br>
          <label for="description">Description</label>
          <%= f.text_area :description%>
          <br>
          <%= f.submit @cat.new_record??
          "Add a cat" : "Update a cat" %>
      <%end%>
    </div>
  </section>
</main>